*.pdf
/direct_replication/__pycache__
direct_replication/notebooks/usmodel.log
nul
/direct_replication/model
/DG/model/+argmodel
/DG/model/argmodel
DG/data/argmodel_data.mat
/DG/src/__pycache__
DG/model/argmodel.log
